body {
	font: 0.9em Tahoma, sans-serif;
}

html, body {
	height: 100%;
}

body {
	color: #FFF0A5;
}

.jumbotron {
	background: #468966;
	height: 100vh;
}

.navbar {
	border-radius: 0;
	margin-bottom: 0;
}

